bouquet/_helpers
org-tanabe-ssl-certs
ImeconportalAPI/node_modules
ImeconPortalAPI/bouquet-e3ec0-firebase-adminsdk-lals6-59bd9cdf53.json
ImeconPortalAPI/graphapi.config.json
ImeconPortalAPI/youtuDataApi.config.json
ImeconPortalAPI/functions/client_secret.json
ImeconPortalAPI/functions/api_key.json
bouquet/.DS_Store
bouquet/node_modules
bouquet/dist
.DS_Store

#firebase
bouquet/src/firebaseconfig.json

# local env files
.env
.env.local
.env.*.local

# Log files
bouquet/npm-debug.log*
bouquet/yarn-debug.log*
bouquet/yarn-error.log*
bouquet/pnpm-debug.log*

# Editor directories and files
bouquet/.idea
bouquet/.vscode
bouquet/*.suo

