@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&Caveat:wght@600&family=Kosugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/* 色定義 */
$annin-white: #f5f3f2;
$vietnam-beige: #e7be99;
$desert-gold: #d1ae15;
$desert-gold-light: #cec59d;
$desert-gold-dark: #9c9679;

/* ボタンデフォルトスタイルの削除 */
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    position: relative;
    border-radius: 0;
}

/* heder */
header {
    background: url('img/background-dia.png');
    background-position: 50% 0%;
    background-color: $vietnam-beige;
    height: 65px;
    font-family: 'M PLUS 1p', sans-serif;
    width: 100%;
}

.header-logo {
    height: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-logo img {
    height: 100%;
}

body {
    font-family: 'M PLUS 1p', sans-serif;
}

footer {
    background-color: $vietnam-beige;
    height: 4em;
    font-family: 'M PLUS 1p', sans-serif;
    width: 100%;
}

header p {
    color: $annin-white;
}

.container-fluid {
    padding-top: 100px;
    padding-bottom: 50px;
}

/* メニューボタン */
.menuBtn {
    background-color: $annin-white;
    opacity : 50%;
    height: 65px;
    width: 100%;
    margin: 0;
}

.menuBtn p {
    color: black;
    font-size: larger;
    font-weight: bolder;
}

.menuBtn:hover {
    opacity: 100%;
}

.menuBtnActive {
    opacity: 100%;
}
.menuBtnActive::after {
    content: '';
    display: block;
    width: inherit;
    margin: 0 auto;
    height: 5px;
    background-color: $desert-gold;
    position: absolute;
    bottom: 0;
}

@media screen and (min-width:768px){
    header {
        height: 70px;
    }

    .menuBtn {
        height: 70px;
    }

    .header-logo {
        height: 70px;
    }

    .container {
        padding-top: 75px;
    }
}

@media screen and (min-width:992px){
    header {
        height: 90px;
    }

    .menuBtn {
        height: 90px;
    }

    .header-logo {
        height: 65px;
        padding: 0;
    }

    .container {
        padding-top: 95px;
    }
}

/** ボタン **/
button:disabled {
    background: lightgray;
    color: gray;
}

/* 緑ボタン */
.btn-green {
    background: #236d46;
    color: white;
    border: solid 1px #236d46;
}

.btn-green :hover {
    background: white;
    color: #236d46;
}

/* グレーボタン */
.btn-gray {
    background: white;
    color: gray;
    border: solid 1px gray;
}

.btn-gray :hover {
    background: lightgray;
    border: solid 1px lightgray;
    color: white;
}

/* ゴールドボタン */
.btn-gold {
    background: $desert-gold;
    color: white;
    border: solid 1px $desert-gold;
    padding: 0.7em;
    border-radius: 0.3em;
}

.btn-gold:hover {
    background: $desert-gold-light;
    color: white;
    border: solid 1px $desert-gold-light;
}

.btn-gold:disabled {
    background: $desert-gold-dark;
    border: solid 1px $desert-gold-dark;
}

/* 見出し要素 */
#title h1 {
    color: #000000;
    font-family: 'Arvo', 'M PLUS 1p', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
}

#title h2 {
    font-family: 'Arvo', 'M PLUS 1p', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    border-bottom:1px solid $desert-gold;
}

#title h3 {
    font-family: 'Arvo', 'M PLUS 1p', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    /* border-bottom:1px solid $desert-gold; */
}

#title .title-gold {
    color: $desert-gold;
}

#title .with-circle::before {
    display: inline-block;
    margin-right: 2px;
    content: url('img/title-circle.svg');
    vertical-align: middle;
}

#title h4 {
    color: $desert-gold;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

#title h6 {
    color: $desert-gold;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

/* 色指定 */
.cl-darkpink {
    color: #c73576;
}

/* リンク装飾 */
.notice-link {
    color: #0049a9!important;
    text-decoration: underline;
}

.notice-link:hover {
    color: #4d7fda!important;
    text-decoration: none;
}

.active {
    color: black;
}

.active:hover {
    color: dimgray;
    text-decoration: none;
}

/* テーブル */
.table-palepink th {
    background-color: lavender;
    font-weight: normal;
}

.table-palepink tr {
    border-bottom: solid 1px dimgray;
}

.table-palepink td {
    background-color: white;
}

/** トップページ  **/
.event-caption {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-caption-panel
{
    background-color: rgba($color: #fff, $alpha: 0.6);
}

.square-box {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.square-box::before {
    content: "";
    padding-top: 60%;
    display: block;
}

@media screen and (min-width:768px)
{
    .square-box::before{
        padding-top: 70%;
    }
}

@media screen and (min-width:992px)
{
    .square-box::before {
        padding-top: 100%;
    }

    .d-lg-cell {
        display: table-cell;
    }
}

.square-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.hover-pointer-pointer {
    cursor: pointer;
}
